* {
    box-sizing: border-box;
}

body {
    border: 0;
}

/*/// navbar ///*/
.navBar{
    background-color: #333;
    overflow: hidden;
    border-radius: 3px;
    font-family: "Audiowide", sans-serif;
}

.navBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
    text-shadow: 3px 3px 3px #ababab;
}

.navBar a.active {
    background-color: #4caf50;
    color: white;
}

#my-name {
    /* float: right; */
    position: absolute;
    right: 2px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
}

/*///copy///*/
.copy-wrapper .copy-content {
    display: none;
    position: absolute;
    right: 25px;
    top: 60px;
    z-index: 1;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.copy-wrapper {
    float: left;
    overflow: hidden;
    right: 2px;
    text-align: center;
}

.copy-wrapper:hover #my-name {
    cursor: pointer;
}

.copy-wrapper:hover .copy-content {
    display: block;
}

.copy-content #copy {
    resize: none;
    border: 2px dotted grey;
    border-radius: 7px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

/* .copy-content #copy-btn {
    background-image: linear-gradient(to bottom right, red, yellow);
    color: white;
    font-size: 20px;
    padding: 2px 6px;
    border-radius: 6px;
    transition-duration: 0.4s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,0.09);
}

.copy-content #copy-btn:hover {
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*/// heading ///*/
.heading-tile {
    text-align: center;
    border-radius: 5px;
    font-family: "Audiowide", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    position: absolute;
    top: 7.5%;
    left: 40%;
}

.heading-tile:hover{
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0,0.8);
}

.heading-tile h2 {
    padding: 2px 16px;
    text-shadow: 3px 3px 3px #ababab;
    text-align: center;
    color: rgb(111, 143, 101);
    height: max-content;
    width: max-content;
    cursor: text;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.heading-tile h2:hover {
    text-align: center;
    color: rgb(175, 192, 153);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 7% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    text-align: center;
}

/*/// gameWrapper = gameboard + diceboard ///*/
.gameWrapper{
    position: absolute;
    top: 15%;
}

.gameBoard {
    float: left;
    align-content: center;
    position: relative;
    right: 20px;
    left: 250px;
}
.ludoImg {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#green, #blue, #red, #yellow {
    z-index: 2;
}

.gameCanvas {
    width: 750px;
    height: 750px;
    position: absolute;
    top: 25px;
    left: 25px;
    border: 2px solid;
    z-index: 1;
}

.diceBoard {
    position: relative;
    top: 20px;
    left: 1100px;
    right: 0px;
}

.msgBoard {
    float: top;
    width: 400px;
    height: 675px;
    border-radius: 5px;
    align-content: center;
    padding: 8px 8px 8px 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    overflow-y: auto;
    font-family: sans-serif;
}

.goButt {
    text-align: center;
    margin-top: 20px;
}

#randomButt, #copy-btn, #RESUME, #WAIT {
    background-image: linear-gradient(to bottom right, red, yellow);
    color: white;
    font-size: 20px;
    padding: 2px 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,0.09);
}

#randomButt:hover, #copy-btn:hover, #RESUME:hover, #WAIT {
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.message {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.messageFromServer {
    position: relative;
    left: 20px;
    margin-right: 40px;
    text-align: center;
}

#color-message-span1,#theOneWhoLeft{
    font-family: 'ZCOOL KuaiLe', cursive;
}

#color-message-span2{
    font-family: 'Roboto Slab', serif;
}
